# **Variaveis**

In [ ]:
nome = input ("Digite o seu nome: \n");
print(nome)

In [13]:
#codigo corrigido
frase = input("Digite uma frase: ")

frase = "Um texto qualquer!"

try:
  del print
except NameError:
  pass

print(frase)

Digite uma frase: flamwneo
Um texto qualquer!

In [17]:
idade = 20
type(idade)

int

In [19]:
idade = "20"
type(idade)
#com as aspas duplas ele identifica como um texto/string

str

In [20]:
altura = 1.80
type(altura)
#salva como float pois tem uma virgula

float

In [24]:
altura = float("1.82")
type(altura)
#tambem é possivel declarar uma viarivel dentro da linha do codigo, onde mesmo o numero 1.82 com aspas (uma string) pode se tornar um float ou um int.

float

In [38]:
print("Sua idade: ",idade, " e Sua Algura: ",altura)

Sua idade:  20  e Sua Algura:  1.82

In [32]:
idade  = int(20.8)
print(idade)

20

In [33]:
texto = str(10)
type(texto)
#mesmo sentido acima, é possivel modificar o tipo da variavel do dado declarando o tipo na frente.

str

In [34]:
teste = True
type(teste)

bool

#Operadores Matemáticos

In [35]:
5+5

10

In [36]:
3+4
#eutorevoltado com C

7

In [46]:
from re import I
#calculadora IMC
altura = input("Digite a sua altura: ")
peso = input("Digite o seu peso: ")
idade = input("Digite a sua idade: ")

altura = float(altura)
peso = float(peso)
idade = int(idade)

imc = peso / (altura * altura)

print("Seu IMC é: ", imc)

Digite a sua altura: 1.80
Digite o seu peso: 96
Digite a sua idade: 22
Seu IMC é:  29.629629629629626

In [47]:
#calculadora IMC
altura = float(input("Digite a sua altura: "))
peso = float(input("Digite o seu peso: "))
idade = int(input("Digite a sua idade: "))
#tipos de variaveis já declaradas no pedido de input para deixar mais limpo

imc = peso / (altura * altura)

print(F"Seu IMC é: {imc:.2f} e a sua idade é: {idade}")
#

Digite a sua altura: 1.80
Digite o seu peso: 96
Digite a sua idade: 22
Seu IMC é: 29.63 e a sua idade é: 22